body {
    background-color: #41476a;
}

a.active {
    opacity: 1;
    
    @media (width >= 768px) {
        & {
            border: .5px solid white;
            border-radius: 16px;
        }
    }
}

.sidebar {
    transition: left 0.3s ease;
}

footer {
    background-image: url(./assets/footer-bg.svg);
}